.popup-add__container {
  position: relative;
  width: 430px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 767px) {
  .popup-add__container {
    width: 282px;
  }
}
