.input {
  border: none;
  height: 14px;
  width: 358px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding: 0;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .input {
    max-width: 238px;
  }
}
