.profile__avatar {
  align-self: center;
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.profile__avatar:hover {
  background-image: url('/src/images/edit-avatar.svg');
  opacity: 0.2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
