.profile__info_hobby {
  min-width: 336px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #ffffff;
  max-height: 18px;
  margin-top: 7px;
}
@media screen and (max-width: 767px) {
  .profile__info_hobby {
    min-width: 282px;

    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
