.element {
  background-color: #fff;
  width: 282px;
  border-radius: 10px;
  height: 361px;
}
@media screen and (max-width: 767px) {
  .element {
    margin-left: auto;
    margin-right: auto;
  }
}
